@import "../../../../scss/animations.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(#181818, 0.9);
  border-radius: var(--border-radius-default);
  border: 2px solid rgba(#ccc, 0.2);
  width: 100%;
  padding: 6.4rem 3.2rem;
  animation: fadeBottom 0.8s;
}

.heading {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  letter-spacing: 0.3px;
}
