.container {
  position: relative;
  min-height: 46rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: radial-gradient(
        circle,
        rgba(24, 24, 24, 0.4) 0%,
        rgba(24, 24, 24, 0.8) 100%
      ),
      linear-gradient(
        0deg,
        rgba(24, 24, 24, 1) 5%,
        rgba(24, 24, 24, 0.4) 50%,
        rgba(24, 24, 24, 1) 95%
      );
  }

  & > img {
    object-fit: cover;
    z-index: -3;
  }
}
