.container {
}

.text {
  font-size: 16px;
  letter-spacing: 0.4px;
  color: var(--color-light-300);
}

.link {
  font-size: 16px;
  letter-spacing: 0.4px;
  text-decoration: underline;
  font-weight: 500;
  transition: var(--transition-fast);

  &:hover,
  &:focus {
    color: var(--color-light-500);
  }
}
