.buy {
  &__header {
    margin-bottom: 2.4rem;
    color: var(--color-light-300);
    font-size: 1.8rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 30%));
    gap: 1.4rem;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    }
  }
}
