.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.6rem;
  padding: clamp(24rem, 25vw, 54rem) 4.8rem 4.8rem;

  @media only screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}
