.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3.2rem 0;
}

.text {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-light-300);
  margin-bottom: 2.4rem;
  text-align: center;
}
