.link {
  padding: 0.9rem;
  border-radius: 50%;
  background-color: var(--color-dark-500);
  transition: var(--transition-fast);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
  color: var(--color-light-300);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color-dark-400);

    svg {
      stroke: var(--color-light-100);
    }
  }

  svg {
    width: 2.8rem;
    height: 2.8rem;
    transition: var(--transition-fast);
  }
}
