.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#121212, 0.5);
  border: 2px solid rgba(#ccc, 0.2);
  cursor: pointer;
  transition: var(--transition-fast);
  color: var(--color-light-300);

  &:hover,
  &:focus,
  &:focus-within {
    background-color: var(--color-light-100);
    border-color: var(--color-light-100);
    color: var(--color-dark-200);
  }

  & > svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__avatar {
    width: 7.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  &__background {
    height: 10.2rem;
    aspect-ratio: 16/9;
    border-radius: var(--border-radius-smallest);

    & > svg {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

.input {
  display: none;
}
