.container {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1.4rem;
  align-items: center;
}

.date {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius-small);
  background-color: var(--color-light-100);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-dark-200);
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.6rem;
  line-height: 1.3;
}

.sub {
  color: var(--color-light-300);
}

.link {
  font-family: 500;
  text-decoration: underline;
  transition: var(--transition-fast);

  &:hover,
  &:focus {
    color: var(--color-light-300);
  }
}
