.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 2.4rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  color: var(--color-light-300);
  cursor: pointer;
  transition: var(--transition-fast);

  &:hover,
  &:focus {
    color: var(--color-light-100);
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
