.container {
  border-radius: var(--border-radius-default);
  background-color: rgba(#2c2c2c, 0.8);
  border: solid 2px rgba(#ccc, 0.2);

  &__md {
    padding: 1.8rem 3.2rem;
  }

  &__lg {
    padding: 3.6rem 4.8rem;
  }
}
