.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: var(--border-radius-smallest);
  transition: var(--transition-medium);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #333;
  }
}

.name {
  font-size: 1.6rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.hidden {
  opacity: 0;
}

.clicked {
  border-radius: 0;
  background-color: #333;
}
