.container {
  padding: 3.6rem 0;
  flex-grow: 1;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
  row-gap: 3.2rem;
  column-gap: 2.4rem;
  height: max-content;
}
