.genres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.4rem;
  row-gap: 1.2rem;
}

.genre {
  padding: 1.6rem 3.6rem;
  border-radius: var(--border-radius-smallest);
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color-light-300);
  background-color: var(--color-dark-500);
}
