.container {
  padding: 3.6rem 0;
  column-gap: 3.6rem;
  row-gap: 2.4rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  & > div:last-child {
    flex-grow: 1;
    max-width: 64rem;
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
    width: 100%;

    & > div:last-child {
      max-width: none;
    }
  }
}
