.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    rgba(21, 21, 21, 0.5),
    rgba(21, 21, 21, 0.5)
  );
  z-index: 2000;
  top: 0;
  left: 0;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80rem;
  width: 95%;
  border-radius: var(--border-radius-smallest);
  background-color: #181818;
  border: 2px solid rgba(#ccc, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 3000;
  overflow: hidden;
}
