.container {
  position: relative;
  width: 100%;
}

.input {
  background-color: var(--color-dark-100);
  border-radius: var(--border-radius-small);
  padding: 1.6rem;
  font-size: 1.8rem;
  color: var(--color-light-200);
  border: 2px solid var(--color-dark-100);
  width: 100%;

  &::placeholder {
    color: var(--color-dark-700);
  }
  &__error {
    border-color: var(--color-crimson-200);
  }
}

.error {
  position: absolute;
  right: 1.6rem;
  bottom: -30%;
  font-size: 1.4rem;
  color: var(--color-crimson-200);
}

.btn {
  position: absolute;
  right: 2.4rem;
  bottom: 50%;
  transform: translateY(50%);
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  transition: var(--transition-fast);

  svg {
    width: 100%;
    height: auto;
  }

  &:hover,
  &:focus {
    color: var(--color-light-300);
  }
}
