.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: var(--transition-fast);
  border-radius: var(--border-radius-default);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  background-color: var(--color-blue-300);
  color: var(--color-light-100);

  &:hover,
  &:focus {
    background-color: var(--color-blue-200);
    transform: scale(1.03);
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
