.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: grid;
  grid-template-rows: 2fr 1fr;
  width: 140%;
  height: 14rem;
  border-radius: var(--border-radius-smallest);
  background-color: #222;
  overflow: hidden;

  @media only screen and (max-width: 900px) {
    grid-template-rows: 2.5fr 1fr;
    height: 18rem;
  }

  @media only screen and (max-width: 340px) {
    width: 100%;
  }
}

.empty {
  padding: 10px;
  font-weight: 300;
  font-size: 1.8rem;
  color: #aaa;
  cursor: default;
}

.list {
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
  background-color: inherit;
  color: #ccc;
  list-style: none;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(#222, 0.8);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-smallest);
    background: #555;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
}

.item {
  padding: 6px 0;
  transition: var(--transition-fast);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #333;
  }
}

.btnCreate {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  background-color: #333;
  box-shadow: -2rem 0 4rem rgba(#000, 0.2);
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  transition: var(--transition-fast);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #444;
  }
}

.hidden {
  display: none;
}
