.container {
  display: flex;
  flex-direction: column;
  transform: translateY(-15%);
}

.cover {
  position: relative;
  width: 70%;
  aspect-ratio: 16/9;
  align-self: center;
  margin-bottom: 2.8rem;
  border-radius: var(--border-radius-smallest);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    width: 80%;
  }
  @media only screen and (max-width: 530px) {
    width: 90%;
  }

  img {
    object-fit: cover;
  }
}

.smallDetails {
  margin-bottom: 0.6rem;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: var(--color-light-200);
}

.title {
  margin-bottom: 3.2rem;
  font-weight: 600;
  font-size: 5.2rem;
  line-height: 1.2;

  @media only screen and (max-width: 530px) {
    font-size: 4.6rem;
  }

  @media only screen and (max-width: 380px) {
    font-size: 4.2rem;
  }
}

.actionBtns {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  width: 100%;
  margin-bottom: 4.2rem;

  @media only screen and (max-width: 1540px) {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2.4rem;
  }

  @media only screen and (max-width: 340px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &__add,
  &__wishlist,
  &__collections {
    @media only screen and (max-width: 340px) {
      justify-content: center;
      width: 90%;
    }
  }

  &__add {
    border-radius: var(--border-radius-default);
    padding: 1.6rem 3.2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: var(--color-blue-300);
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    transition: var(--transition-fast);

    &:hover,
    &:focus {
      background-color: var(--color-blue-200);
      transform: scale(1.03);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__wishlist {
    border-radius: var(--border-radius-default);
    padding: 1.5rem 3.2rem;
    border: 1px solid var(--color-light-100);
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    transition: var(--transition-long);

    &:hover,
    &:focus {
      color: var(--color-dark-200);
      box-shadow: inset 16em 0 0 0 var(--color-light-100);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__collections {
    position: relative;
    padding: 0 2px 3px;
    border: none;
    border-bottom: 1px solid currentColor;
    background: none;
    color: var(--color-light-300);
    font-size: 1.8rem;
    transition: var(--transition-fast);

    &:hover,
    &:focus {
      color: var(--color-dark-700);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__review {
    border-radius: var(--border-radius-default);
    align-self: center;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 3.2rem;
    padding: 1.8rem 6.4rem;
    background-color: var(--color-dark-400);
    color: var(--color-light-300);
    font-weight: 400;
    font-size: 2rem;
    transition: var(--transition-fast);
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--color-dark-300);
      color: var(--color-light-100);
    }

    svg {
      width: 2.6rem;
      height: 2.6rem;
    }
  }
}

.rating {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 4.2rem;

  @media only screen and (max-width: 440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  &__chart {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0.6rem 3.2rem;

    &:first-child {
      padding-left: 0;
      @media only screen and (max-width: 440px) {
        grid-row: 2/3;
        grid-column: 1/-1;
        gap: 1.4rem;
      }
    }

    &:last-child {
      @media only screen and (max-width: 440px) {
      }
    }

    &:not(:last-child) {
      border-right: 2px #444 solid;

      @media only screen and (max-width: 440px) {
        border: none;
      }
    }

    &__upper {
      font-weight: 600;
      font-size: 3rem;
    }

    &__lower {
      color: #888;
      font-weight: 400;
      font-size: 1.6rem;
    }
  }
}

.buy {
  &__header {
    margin-bottom: 2.4rem;
    color: var(--color-light-300);
    font-size: 1.8rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 30%));
    gap: 1.4rem;

    @media only screen and (max-width: 530px) {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    display: block;
    padding: 1.6rem 2.4rem;
    border-radius: var(--border-radius-small);
    background-color: var(--color-dark-400);
    color: var(--color-light-300);
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    transition: var(--transition-fast);

    &:hover,
    &:focus {
      background-color: var(--color-dark-300);
      color: var(--color-light-100);
    }
  }
}
