.more {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  align-content: start;
  max-width: 36rem;
  cursor: pointer;

  &:hover,
  &:focus {
    p {
      color: var(--color-dark-700);
    }

    .more__icon {
      background-color: var(--color-light-100);
      opacity: 1;

      svg {
        fill: var(--color-dark-200);
      }
    }
  }

  &__icon {
    border-radius: var(--border-radius-small);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    background-color: var(--color-dark-300);
    opacity: 0.4;
    box-shadow: -1px 8px 24px 0px rgba(0, 0, 0, 0.03);
    transition: var(--transition-medium);

    svg {
      width: 3.6rem;
      height: 3.6rem;
      transition: var(--transition-medium);
    }
  }

  &__main {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    transition: var(--transition-fast);
  }

  &__sub {
    font-size: 1.2rem;
    color: var(--color-light-300);
    transition: var(--transition-fast);
  }
}
