.fav {
  padding: 4.8rem 6.4rem;

  @media only screen and (max-width: 900px) {
    padding: 3.6rem 4.8rem;
  }
}
.heading {
  margin-bottom: 2.4rem;
  font-weight: 400;
  font-size: 3rem;

  @media only screen and (max-width: 600px) {
    margin-bottom: 3.6rem;
  }

  @media only screen and (max-width: 400px) {
    margin-bottom: 2.8rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1.8rem;
  list-style: none;

  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: var(--border-radius-default);
  background-color: #111;
  box-shadow: 0 2rem 8rem rgba(#000, 0.7);
  transition: var(--transition-medium);
  overflow: hidden;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color-dark-primary);
    box-shadow: 0 1rem 4rem rgba(#000, 0.3);
    transform: scale(1.02);
  }

  &__img {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
  }

  &__title {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
  }
}
