.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
  padding: 8.2rem 0 12rem;
  align-items: center;
  align-items: stretch;

  @media only screen and (max-width: 1440px) {
    grid-template-columns: repeat(2, 1fr);

    & > li:last-child {
      grid-column: 1/-1;
      justify-self: center;
      width: 50%;
    }
  }

  @media only screen and (max-width: 900px) {
    grid-template-columns: 1fr;

    & > li:last-child {
      width: 100%;
    }
  }
}
