.selector {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container {
  display: flex;
  align-items: center;
}

.text {
  font-size: 2.4rem;
}

.btn {
  border: none;
  border-bottom: 1px solid #aaa;
  background: none;
  color: #fff;
  font-size: 2.4rem;
  transition: var(--transition-fast);
  cursor: pointer;

  &:hover,
  &:focus {
    color: #aaa;
  }
}
