.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    circle,
    rgba(21, 21, 21, 0.6) 40%,
    rgba(21, 21, 21, 0.9) 90%
  );
}

.container {
  position: relative;
  z-index: 320;
  border-radius: var(--border-radius-default);
  background-color: rgba(#323232, 0.9);
}
