.meta {
  display: flex;
  align-items: center;
  gap: 1.8rem;

  &__text {
    font-size: 2rem;
    font-weight: 500;
  }

  &__score {
    font-size: 2rem;
    border-radius: 5px;
    font-weight: 600;
    padding: 1.2rem;

    &_green {
      background-color: #04ca7b;
      color: #242826;
    }

    &_yellow {
      background-color: #fbbb3c;
      color: #242826;
    }

    &_red {
      background-color: #fb6c73;
      color: #f2f2f2;
    }
  }
}

.null {
  color: var(--color-light-300);
  font-size: 1.8rem;
}
