.rating {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 4rem;

  &__name {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 0.8rem;

    svg {
      width: 2.8rem;
      height: 2.8rem;
      fill: var(--color-light-100);
    }
  }

  &__amount {
    font-size: 1.6rem;
    color: var(--color-light-300);
  }
}

.null {
  color: var(--color-light-300);
  font-size: 1.8rem;
}
