.open {
  padding: 2.4rem 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  transition: var(--transition-fast);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.15);

  @media only screen and (max-width: 600px) {
    padding: 2.4rem;
  }

  &:hover,
  &:focus {
    background-color: #1d1d1d;

    .row.text.name {
      color: var(--color-light-100);
    }
  }

  svg {
    width: 3.6rem;
    height: 3.6rem;
    fill: var(--color-light-300);
    transition: var(--transition-medium);
  }

  &__active {
    svg {
      transform: rotate(-90deg);
    }
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  gap: 2.4rem;

  @media only screen and (max-width: 900px) {
    width: 75%;
  }

  @media only screen and (max-width: 900px) {
    width: 85%;
  }
}

.text {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.pos {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-light-300);
}

.name {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-light-200);
  line-height: 1.2;
}

.played {
  padding: 1.6rem 3.2rem;
  color: var(--color-dark-secondary);
  background-color: var(--color-light-100);
  border-radius: 1300px;
  font-size: 1.6rem;
  font-weight: 500;
  white-space: nowrap;

  @media only screen and (max-width: 600px) {
    padding: 1.2rem 2.4rem;
    font-size: 1.4rem;
  }
}
