@import "../../scss/animations.scss";

.btn {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--color-light-300);
  cursor: pointer;
  background-color: #444;
  padding: 1.6rem 3.2rem;
  border-radius: var(--border-radius-small);
  transition: var(--transition-fast);

  &:hover,
  &:focus {
    background-color: #333;
    color: var(--color-light-100);
  }

  &__disabled {
    opacity: 0.4;
    cursor: auto;

    &:hover,
    &:focus {
      color: var(--color-light-300);
      background-color: #444;
    }
  }

  &__saved {
    animation: scaleUp 0.4s;
    opacity: 1;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
