.container {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
  gap: 2.4rem;
  border-bottom: 2px solid rgba(#ccc, 0.2);

  &:hover {
    button {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

.cover {
  position: relative;
  width: 12rem;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-default);
  overflow: hidden;
  cursor: pointer;

  &:hover,
  &:focus {
    &::after {
      background-color: rgba(#151515, 0.5);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#151515, 0.2);
    z-index: 1;
    transition: var(--transition-fast);
  }

  img {
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.name {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 1.2;
  transition: var(--transition-fast);

  &:hover,
  &:focus {
    color: var(--color-light-300);
  }
}

.row {
  display: flex;
  align-items: stretch;
  gap: 0.8rem;
}
