.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: start;
  margin-bottom: 3.2rem;
  width: 100%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
