.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  & > input {
    display: none;
  }
}

.box {
  margin-bottom: 1.4rem;
  color: var(--color-light-300);
  background-color: var(--color-dark-100);
  border: 2px solid rgba(#ccc, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  &__avatar {
    border-radius: 50%;
    width: 8.2rem;
    aspect-ratio: 1/1;
  }

  &__background {
    border-radius: var(--border-radius-small);
    height: 8.2rem;
    aspect-ratio: 16/9;
  }

  & > svg {
    width: 4.2rem;
    height: auto;
  }
}

.text {
  color: var(--color-light-300);
  font-weight: 500;
}
