.container {
  display: flex;
  align-items: center;
  gap: 2.8rem;
  padding: 3.2rem 4.8rem;
  border-radius: var(--border-radius-small);
  background-color: rgba(#2c2c2c, 0.8);
  border: 2px solid rgba(#ccc, 0.1);

  @media only screen and (max-width: 660px) {
    width: 100%;
    justify-content: center;
  }
}

.photo {
  position: relative;
  width: 14rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid var(--color-light-200);
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.since {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-light-500);
}
