.container {
  padding: 3.2rem 4.8rem;
  border-radius: var(--border-radius-small);
  background-color: rgba(#2c2c2c, 0.8);
  border: 2px solid rgba(#ccc, 0.1);
  display: flex;
  align-items: center;
  gap: 4.2rem;

  @media only screen and (max-width: 1380px) {
    width: 100%;
  }

  @media only screen and (max-width: 660px) {
    flex-direction: column;
  }
}

.line {
  width: 2px;
  height: 100%;
  background-color: rgba(#8f8f8f, 0.6);
  border-radius: 1300px;

  @media only screen and (max-width: 660px) {
    display: none;
  }
}
