.container {
  padding: 14rem 4.2rem 3.2rem;

  @media only screen and (max-width: 800px) {
    padding: 3.6rem;
  }

  @media only screen and (max-width: 800px) {
    padding: 2rem 3.6rem 3.6rem;
  }
  @media only screen and (max-width: 800px) {
    padding: 0 3.6rem 3.6rem;
  }
}

.heading {
  margin-bottom: 2.4rem;
  font-weight: 500;
  font-size: 3.6rem;
  letter-spacing: 0.3px;
}
