.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: start;
  margin-bottom: 3.2rem;
  width: 100%;
  // width: max-content;
  // justify-self: center;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
