.btn {
  padding: 1.6rem 3.6rem;
  background-color: var(--color-dark-300);
  border-radius: var(--border-radius-smallest);
  border: 2px solid rgba(#ccc, 0.2);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--color-light-300);
  cursor: pointer;
  width: 21rem;
  text-align: center;
}
