.container {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.bar {
  width: 52rem;
  border-radius: 1300px;
  background-color: rgba(#ccc, 0.8);
  height: 3px;
}

.number {
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  display: inline-block;
  width: 12rem;
  text-align: center;
}
.input {
  -webkit-appearance: none;
  appearance: none;
  width: 52rem;
  border-radius: 4rem;
  outline: none;
  background: none;
  cursor: pointer;
  height: 3px;
  box-shadow: 0px 0.8rem 2.4rem 0px rgba(18, 18, 18, 0.05);

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-light-200);
    box-shadow: 0 0 0.6rem 0.4rem rgba(#b3b3b3, 0.5);
    transition: var(--transition-fast);
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-light-200);
    box-shadow: 0 0 1.2rem 0.4rem rgba(#8f8f8f, 0.5);
    transition: var(--transition-fast);
  }

  &:hover,
  &:focus {
    &::-webkit-slider-thumb {
      background-color: var(--color-light-100);
    }

    &::-moz-range-thumb {
      background-color: var(--color-light-100);
    }
  }
}
