@import "../../../../../scss/animations.scss";

.container {
  position: relative;
}

.open {
  cursor: pointer;
  border-radius: var(--border-radius-default);
  background-color: var(--color-dark-500);
  transition: var(--transition-long);
  aspect-ratio: 1/1;
  padding: 0.6rem;
  opacity: 0;
  transform: translateX(-50%);

  svg {
    fill: var(--color-light-300);
    transition: var(--transition-fast);
    height: 2rem;
    width: 2rem;
  }

  &:hover,
  &:focus {
    background-color: var(--color-light-100);
    opacity: 1;
    transform: translateX(0%);

    svg {
      fill: var(--color-dark-200);
    }
  }
}

.list {
  position: absolute;
  top: -5%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-100);
  color: var(--color-dark-200);
  width: max-content;
  background-color: var(--color-light-100);
  border-radius: var(--border-radius-smallest);
  gap: 0.8rem;
  padding: 1.2rem 1rem;
  border-radius: var(--border-radius-small);
  animation: fadeIn 0.2s;
  z-index: 50;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.option {
  font-size: 1.4rem;
  color: var(--color-dark-200);
  transition: var(--transition-fast);
  cursor: pointer;
  padding: 1.2rem 2rem;
  border-radius: var(--border-radius-smallest);

  &:hover,
  &:focus {
    background-color: var(--color-light-200);
  }

  &__loading {
    position: relative;
    background-color: var(--color-light-200);
    color: transparent;

    &::after {
      content: "";
      position: absolute;
      height: 40%;
      aspect-ratio: 1/1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 2px solid transparent;
      border-top-color: var(--color-dark-200);
      border-radius: 50%;
      animation: button-loading-spinner 1.2s ease-in-out infinite;
    }
  }
}
