.btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.page {
  font-weight: 600;
  font-size: 3rem;
}

.btn {
  border: none;
  border-radius: 50%;
  background: none;
  transition: var(--transition-fast);

  &__icon {
    width: 6rem;
    height: 6rem;
    transition: var(--transition-medium);
  }

  &__active {
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}
