.card {
  position: relative;
  max-width: 100rem;
  aspect-ratio: 16 /9;
  overflow: hidden;
  cursor: pointer;

  &__scale {
    transition: var(--transition-fast);

    &:hover,
    &:focus,
    &:focus-within {
      transform: scale(1.05);
    }
  }
}

.slider {
  &__home {
    flex: 0 0 30%;

    @media only screen and (max-width: 1200px) {
      flex: 0 0 40%;
    }

    @media only screen and (max-width: 900px) {
      flex: 0 0 55%;
    }
    @media only screen and (max-width: 700px) {
      flex: 0 0 65%;
    }
    @media only screen and (max-width: 600px) {
      flex: 0 0 75%;
    }
    @media only screen and (max-width: 400px) {
      flex: 0 0 85%;
    }
  }

  &__ranking {
    flex: 0 0 32.5%;

    @media only screen and (max-width: 1200px) {
      flex: 0 0 42.5%;
    }

    @media only screen and (max-width: 900px) {
      flex: 0 0 57.5%;
    }

    @media only screen and (max-width: 700px) {
      flex: 0 0 75%;
    }

    @media only screen and (max-width: 600px) {
      flex: 0 0 85%;
    }
    @media only screen and (max-width: 500px) {
      flex: 0 0 90%;
    }
    @media only screen and (max-width: 400px) {
      flex: 0 0 95%;
    }
  }

  &__game {
    flex: 0 0 40%;

    & .container {
      &:hover,
      &:focus {
        opacity: 0;
      }
    }

    @media only screen and (max-width: 1400px) {
      flex: 0 0 50%;
    }

    @media only screen and (max-width: 1200px) {
      flex: 0 0 60%;
    }

    @media only screen and (max-width: 1000px) {
      flex: 0 0 65%;
    }

    @media only screen and (max-width: 800px) {
      flex: 0 0 70%;
    }

    @media only screen and (max-width: 600px) {
      flex: 0 0 80%;
    }

    @media only screen and (max-width: 500px) {
      flex: 0 0 90%;
    }

    @media only screen and (max-width: 380px) {
      flex: 0 0 95%;
    }
  }

  &__fav {
    flex: 0 0 32.5%;

    @media only screen and (max-width: 1400px) {
      flex: 0 0 40%;
    }

    @media only screen and (max-width: 1200px) {
      flex: 0 0 45%;
    }

    @media only screen and (max-width: 900px) {
      flex: 0 0 55%;
    }

    @media only screen and (max-width: 660px) {
      flex: 0 0 70%;
    }

    @media only screen and (max-width: 460px) {
      flex: 0 0 80%;
    }

    @media only screen and (max-width: 400px) {
      flex: 0 0 90%;
    }
  }

  &__library {
    flex: 0 0 35%;

    @media only screen and (max-width: 1200px) {
      flex: 0 0 45%;
    }

    @media only screen and (max-width: 1000px) {
      flex: 0 0 50%;
    }

    @media only screen and (max-width: 800px) {
      flex: 0 0 60%;
    }

    @media only screen and (max-width: 700px) {
      flex: 0 0 65%;
    }

    @media only screen and (max-width: 600px) {
      flex: 0 0 75%;
    }

    @media only screen and (max-width: 500px) {
      flex: 0 0 80%;
    }

    @media only screen and (max-width: 500px) {
      flex: 0 0 85%;
    }

    @media only screen and (max-width: 500px) {
      flex: 0 0 90%;
    }
  }
}

.carousel {
  &__browse {
    width: 100%;
    max-width: 80%;

    @media only screen and (max-width: 1400px) {
      max-width: 100%;

      &:nth-child(3) {
        grid-column: 1/-1;
        width: 50%;
        justify-self: center;
      }
    }

    @media only screen and (max-width: 900px) {
      width: 80%;
      justify-self: center;

      &:nth-child(3) {
        width: 80%;
      }
    }

    @media only screen and (max-width: 400px) {
      width: 100%;

      &:nth-child(3) {
        width: 100%;
      }
    }
  }

  &__games {
    width: 100%;
    max-width: 50%;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-default);
  overflow: hidden;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.2rem;
  padding: 1.6rem 3.2rem;
  border-radius: var(--border-radius-default);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: var(--transition-medium);
  opacity: 0;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.title {
  font-weight: 500;
  font-size: 2.6rem;
}

.details {
  font-weight: 300;
  font-size: 1.6rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(#121212, 0.7);
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: 0.5px;
}
