.container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--color-light-300);
}
