@import "./../../scss/animations.scss";

.container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  width: 100vw;
  height: 100vh;

  &__blurred {
    backdrop-filter: blur(5px);
    animation: fadeIn 0.3s;
    background-image: linear-gradient(
      rgba(21, 21, 21, 0.5),
      rgba(21, 21, 21, 0.5)
    );
  }
}

.close {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
  animation: fadeRight 0.4s;

  &:hover,
  &:focus {
    svg {
      fill: var(--color-light-300);
    }
  }

  svg {
    width: 3.6rem;
    height: 3.6rem;
    transition: var(--transition-fast);
  }
}
