.container {
  position: relative;
}

.slider {
  display: flex;
}

.button {
  position: absolute;
  top: 50%;
  border-radius: 100%;
  padding: 1.2rem;
  background-color: var(--color-dark-tertiary);
  z-index: 30;
  cursor: pointer;
  opacity: 0.8;
  transition: var(--transition-fast);

  &__prev {
    left: 0;
    transform: translate(-50%, -50%);
  }

  &__next {
    right: 0;
    transform: translate(50%, -50%);
  }

  &__disabled {
    opacity: 0;
    cursor: auto;
  }

  & svg {
    width: 2.4rem;
    height: 2.4rem;
    stroke: var(--color-light-100);
    transition: var(--transition-fast);
  }

  &:hover,
  &:focus {
    svg {
      stroke: #999;
    }
  }
}
